<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Logged in</h1>
<table id="table">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Project Manager</th>
            <th>Users</th>
        </tr>
    </thead>
    <tbody>
        <% result.forEach(function (pro) { %>
            <tr>
                <td>
                    <%= pro.pname %>
                </td>
                <td>
                    <%= pro.pmanager %>
                </td>
                <td>
                    <%= pro.members %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>
    <a href="/newproject"> add project</a>
    <a href="/newissue">Add New Issue</a>
    <a href="/logout">log out</a>
</body>
</html>
